@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

::-webkit-scrollbar {
    background: black;
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: #b93e3e;
    border-radius: 50px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

i:hover {
    color: #ff4242;
    transition: .5s;
}

.menu ul li:hover {
    color: #ff4242;
    transition: .5s;
}

body {
    background: #222;

}

.section-1 {


    width: 70%;
    margin: 0 auto;
}

nav {

    display: flex;
    color: #f4f4f4;
    justify-content: space-between;
    align-items: center;

}

.media ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f4f4;
}


.media i {
    margin: 0 0 0 30px;
    animation: media 3s 1s forwards;
    opacity: 0;
}

nav .logo {
    opacity: 0;
    font-size: 20px;

    animation: logo 2s forwards;
    letter-spacing: 3px;
    font-variant: small-caps;
}

nav .menu ul {
    margin: 20px 0;
    opacity: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: menuUL 3s .5s forwards;
}

nav .menu ul li {
    margin: 0 20px;
    color: #f4f4f4;
}

@keyframes media {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menuUL {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes media {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mailing {

    background: #222;

    padding: 80px 0 30px 0;
    text-align: center;
}

.mailing h1 {
    margin: 20px;
    font-weight: lighter;
    color: #ff4242;
}

.mailing input {
    width: 300px;
    background: rgba(128, 128, 128, 0.281);
    border: none;
    padding: 0 10px;
    font-size: 14px;
    margin: 20px 10px;

    color: #f4f4f4;
    height: 40px;
}

.mailing a {
    border: 1px solid #ff4242;
    font-style: 20px;
    color: #ff4242;
    background: #ff42421c;
    padding: 10px 102px;
    text-align: center;
    
}

.content {
    width: 70%;

    margin: 100px auto;
    
    

}

.form {
    border-right: 2px solid #ff4242;
    border-left: 2px solid #ff4242;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

}
.form::-webkit-scrollbar{
    display: auto;
    background-color: #222;
    height: 10px;
}

.form input {
    width: 350px;
    height: 40px;
    border: none;
    background: #222;
    border: 1px solid #ff4242;
    padding: 0 10px;
    font-size: 17px;
     color: lightgrey;
    margin: 20px  10px;
}

textarea {
    border: none;
    background: #222;
    padding: 10px;
    margin: 10px 10px 30px 10px;
    font-size: 18px;
    color: lightgrey;
  resize: none;
    min-width: 350px;
    max-height: 150px;
    border: 1px solid #ff4242 
    
}

.content .btn{
    font-size: 25px;
    color: #ff4242;
    border: 1px solid #ff4242;
    background: #ff424213;
    width: 350px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}


#fname {
    position: relative;
}

#fname input+span:before {
    content: 'First Name';
    position: absolute;
    top: 10px;
    left: 20px;
    background: #222;
    padding: 0 5px;
    transition: .5s;
    color: #ff4242;
}

#fname input:focus+span:before {
    content: 'First Name';
    position: absolute;
    top: -5px;
    left: 10px;
    color: #ff4242;
    transition: .5s;
}

#fname input:valid+span:before {
    content: 'First Name';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

#lname {
    position: relative;
}

#lname input+span:before {
    content: 'Last Name';
    background: #222;
    padding: 0 5px;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: .5s;
    color: #ff4242;
}

#lname input:focus+span:before {
    content: 'Last Name';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

#lname input:valid+span:before {
    content: 'Last Name';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

#email {
    position: relative;
}

#email input+span:before {
    content: 'E-mail';
    position: absolute;
    background: #222;
    padding: 0 5px;
    top: 10px;
    left: 20px;
    transition: .5s;
    color: #ff4242;
}

#email input:focus+span:before {
    content: 'E-mail';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

#email input:valid+span:before {
    content: 'E-mail';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}


#subject {
    position: relative;
}

#subject input+span:before {
    content: 'Subject';
    background: #222;
    padding: 0 5px;
    position: absolute;
    top: 10px;
    left: 20px;
    transition: .5s;
    color: #ff4242;
}

#subject input:focus+span:before {
    content: 'Subject';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

#subject input:valid+span:before {
    content: 'Subject';
    position: absolute;
    top: -1px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}


#msg {
    position: relative;
}

#msg textarea+span::before {
    content: 'Message';
    position: absolute;
    top: -1px;
    left:20px;
    background: #222;
    transition: .5s;
    

    padding: 0 10px;
    color: #ff4242;
}

#msg textarea:focus+span::before {
    content: 'Message';
    position: absolute;
    top: -11px;
    left: 0px;
    color: #ff4242;
    transition: .5s;
}


#msg textarea:valid+span::before {
    content: 'Message';
    position: absolute;
    top: -15px;
    left: 2px;
    color: #ff4242;
    transition: .5s;
}

@media screen and (max-width:800px){
    .form {
       border:0;
    }
    .media{
        display: none;
    }
    .section-1{
        width: 90%;
    }
    .content .btn{
        width: 100%;
        max-width: 350px;
    }
}

@media screen and (max-width:400px){
input {
    max-width: 250px;
    min-width: 250px;

}

textarea{
    max-width: 250px;
    min-width: 250px;

}
nav {

    display: block;
    
}
.logo{
    text-align: center;
}
nav .menu ul li {
    margin: 0 5px;
}
}
